/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

@font-face {
  src: url(assets/font/GABRWFFR.TTF);
  font-family: friendsfont;
}

body {
  text-align: center;
  background: url("assets/img/WallpaperDog-10865582.jpg");
}



h1 {
 font-family: friendsfont;
 color: whitesmoke;
 text-align: center;
 font-size: 80px;
 padding: 50px;


}

#update-feed {
 text-align: center;
 font-size: 50px;
 margin-bottom: 50px;
 border-radius: 25px;
 background-color: yellow;
 font-family: friendsfont;
 color: black;
}

.tweet {
  width: 800px;
  height: 250px;
  border-radius: 25px;
  border: 10px solid blueviolet;
  color: black;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  background-color: blueviolet;
  position:relative;

}

.profile-photo {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  float:left;
  padding-top:50px;
  padding-bottom:5px;
  padding-left: 5px;
}

.username {
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size:xx-large;
  border-radius: 25px;
  background-color: yellow;
  color: black;
  font-family: friendsfont;
  position: absolute;
  top: 0;
  left: 0;

}

.message {
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  float: left;
  font-style: italic;
  font-weight: 100;
  position:absolute;
  right:0;
  top: 0;
  border: 10;
}

.icon {
  width:72pt;
  height:72pt;
  padding-top: 150px;
  padding-right: 20px;
}

.icon:hover {
  color: yellow;
}

.timestamp {
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  position:absolute;
  right:0;
  bottom: 0;

}

/*#feed{
  background: url("assets/img/WallpaperDog-10865582.jpg");
background-size: 100%;
margin-top: 10%;
margin-left: 40%;

.icon {
    float: left;
    margin:1pt;
    width:72pt;
    height:72pt;
}
.profile-photo
{
    float: left;
    margin:1pt;
    width:72pt;
    height:72pt;
}

.username
{
    float: left;
    margin:1pt;
    width:72pt;
    height:72pt;
}

.message
{
    float: left;
    margin:1pt;
    width:72pt;
    height:72pt;
}



.feed
{
    text-align:center;
    width:450pt;
    height: 80pt;
}
.tweet
{
   margin: auto;
   width: 302pt;
}


}









.timestamp {
  float:left;
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 20px;
}

.icon {

  margin-top: 20px;
}


@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}
}*/

/*.message {
  font-family: 'Mate SC', serif;
  background: url("assets/img/WallpaperDog-10865582.jpg");
  background: url("assets/img/WallpaperDog-10865582.jpg");
}*/