/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

#app {
  /* Full height */
  background-color: black;
  text-align: center;

}

h1 {
 color: aliceblue;
 text-align: center;
 font-size: 80px;
 padding: 50px;


}

#update-feed {
 text-align: center;
 font-size: 50px;
 margin-bottom: 50px;
}

.tweet {
  width: 600px;
  height: 200px;
  margin:auto;
  border: 10px solid red;
  padding: 80px;
  color: aqua;
  margin-bottom: 50px;

}

#profile-photo {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  float:left;
  padding-top:50px;
  padding-bottom:30px;
  padding-left: 5px;
}

.username {
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size:xx-large;
  position:relative;
  right:400px;

}

/*.icon:hover {
  color: blue;
  float: left;
}

#feed{
  background: url("assets/img/WallpaperDog-10865582.jpg");
background-size: 100%;
margin-top: 10%;
margin-left: 40%;

}






.username {
  display:inline-block;
  float:left;
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 20;
}

.message {
  float:left;
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 20px;
}
.timestamp {
  float:left;
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 20px;
}

.icon {

  margin-top: 20px;
}


@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}
}*/

/*.message {
  font-family: 'Mate SC', serif;
  background: url("assets/img/WallpaperDog-10865582.jpg");
}*/