/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

@font-face {
  src: url(assets/font/GABRWFFR.TTF);
  font-family: friendsfont;
}

#app {
  /* Full height */
  text-align: center;

}

body {
  background: url("assets/img/WallpaperDog-10865582.jpg");
}

h1 {
 font-family: friendsfont;
 color: whitesmoke;
 text-align: center;
 font-size: 80px;
 padding: 50px;


}

#update-feed {
 text-align: center;
 font-size: 50px;
 margin-bottom: 50px;
 border-radius: 25px;
 background-color: yellow;
 font-family: friendsfont;
 color: black;
}

.tweet {
  width: 800px;
  height: 200px;
  border-radius: 25px;
  margin:auto;
  border: 10px solid blueviolet;
  padding: 80px;
  color: aqua;
  margin-bottom: 50px;
  background-color: blueviolet;

}

.profile-photo {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  float:left;
  padding-top:50px;
  padding-bottom:30px;
  padding-left: 5px;
}

.username {
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size:xx-large;
  position:relative;
  right:300px;

}

.message {
  float:left;
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 20px;
}


/*.icon:hover {
  color: blue;
  float: left;
}

.timestamp {
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  position:relative;
  left:20px

}

#feed{
  background: url("assets/img/WallpaperDog-10865582.jpg");
background-size: 100%;
margin-top: 10%;
margin-left: 40%;

}









.timestamp {
  float:left;
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 20px;
}

.icon {

  margin-top: 20px;
}


@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}
}*/

/*.message {
  font-family: 'Mate SC', serif;
  background: url("assets/img/WallpaperDog-10865582.jpg");
}*/